@import "./variables";
@import "./screen";
@import "./spacing";
@import "./display";
@import "./font";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.border-round {
  border-radius: var(--border-radius);
}

.shadow {
  box-shadow: 0 0 10px var(--shadow-color);
}

.transition {
  transition: var(--transition-duration);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}

.position-absolute {
  position: absolute;
}

.position-relative {
  position: relative;
}

.position-fixed {
  position: fixed;
}

.link {
  color: var(--link-color);
  text-decoration: none;
}

.link:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}
