@import "./variables";
@import "./screen";
@import "./spacing";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.border-round {
  border-radius: var(--border-radius);
}

.shadow {
  box-shadow: 0 0 10px var(--shadow-color);
}

.transition {
  transition: var(--transition-duration);
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-default {
  cursor: default;
}
